body {
  background-color: #FFB996;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #FFCF81;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  border-radius: 20px;
}

.navbar .college-name {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #fff;
}

.navbar nav ul {
  list-style-type: none;
  display: flex;
}

.navbar nav ul li {
  margin-left: 20px;
}

.navbar nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.navbar a {
  text-decoration: none;
  color: #b42929;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.navbar nav ul li a:hover {
  color: #064d4d;
}

.dropdown {
  position: relative;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content .header {
  background: #287fd7;
  padding: 16px;
  color: white;
  font-weight: bold;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navbar a:hover {
  background-color: #12d7d7;
  transition: background-color 0.3s ease-in-out, transform 1s linear, box-shadow 0.3s ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  animation: bounce 0.5s;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
